In [12]:
import pandas as pd

pop_data = pd.read_csv("census20pop.csv", index_col = 0)

pop_data.head()

        state  population
1     Alabama     5024279
2      Alaska      733391
3     Arizona     7151502
4    Arkansas     3011524
5  California    39538223

In [18]:
# this is definitely not how to do this
has_senators = pop_data[pop_data["state"] != "District of Columbia"]
has_senators = has_senators[has_senators["state"] != "Puerto Rico"]

unit = has_senators["population"].sum() / 100
unit

3307597.36

In [20]:
has_senators["sra_number"] = has_senators["population"].apply(lambda x: 1 if x / unit < 1 else round(x / unit))
has_senators

             state  population  sra_number
1          Alabama     5024279           2
2           Alaska      733391           1
3          Arizona     7151502           2
4         Arkansas     3011524           1
5       California    39538223          12
6         Colorado     5773714           2
7      Connecticut     3605944           1
8         Delaware      989948           1
10         Florida    21538187           7
11         Georgia    10711908           3
12          Hawaii     1455271           1
13           Idaho     1839106           1
14        Illinois    12812508           4
15         Indiana     6785528           2
16            Iowa     3190369           1
17          Kansas     2937880           1
18        Kentucky     4505836           1
19       Louisiana     4657757           1
20           Maine     1362359           1
21        Maryland     6177224           2
22   Massachusetts     7029917           2
23        Michigan    10077331           3
24       Minnesota     5706494           2
25     Mississippi     2961279           1
26        Missouri     6154913           2
27         Montana     1084225           1
28        Nebraska     1961504           1
29          Nevada     3104614           1
30   New Hampshire     1377529           1
31      New Jersey     9288994           3
32      New Mexico     2117522           1
33        New York    20201249           6
34  North Carolina    10439388           3
35    North Dakota      779094           1
36            Ohio    11799448           4
37        Oklahoma     3959353           1
38          Oregon     4237256           1
39    Pennsylvania    13002700           4
40    Rhode Island     1097379           1
41  South Carolina     5118425           2
42    South Dakota      886667           1
43       Tennessee     6910840           2
44           Texas    29145505           9
45            Utah     3271616           1
46         Vermont      643077           1
47        Virginia     8631393           3
48      Washington     7705281           2
49   West Virginia     1793716           1
50       Wisconsin     5893718           2
51         Wyoming      576851           1

In [27]:

sra_json = has_senators.to_json("../../src/plots/data/sra0.json", orient="records")